# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [124]:
# Your code here
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
rows = data.shape[0]
columns = data.shape[1]

print(f"The number of rows is {rows} and the number of columns is: {columns}")
print(f"The number of dimensions is: {data.ndim}")

#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
#You should also provide suggestions for fixing any incorrect data types.
types = data.dtypes
print("\nData Types:")
print(types)
#Suggestion: the customer lifetime value and number of open complaints columns have'object' as its data type but it should be float.

The number of rows is 4008 and the number of columns is: 11
The number of dimensions is: 2

Data Types:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [122]:
#Identify the number of unique values for each column and determine which columns appear to be categorical. 
#You should also describe the unique values of each categorical column and 
#the range of values for numerical columns, and give your insights.
nunique = data.nunique()
print("\nNumber of Unique Values in Each Column:")
categorical_cols = [col for col in data.columns if data[col].dtype == 'object' or nunique[col] <= 5]
numerical_cols = data.select_dtypes(include=['int', 'float']).columns

print("\nCategorical Columns:")
print(categorical_cols)

print("\nNumerical Columns:")
print(numerical_cols)

print("\nUnique Values for Categorical Columns:")
for col in categorical_cols:
    print(f"\nColumn '{col}':")
    print(data[col].unique())

print("\nRange of Values for Numerical Columns:")
for col in numerical_cols:
    min_val = data[col].min()
    max_val = data[col].max()
    print(f"Column '{col}' has a range of {min_val} to {max_val}.")

Number of Unique Values in Each Column:

Categorical Columns:
['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']

Numerical Columns:
Index(['Income', 'Monthly Premium Auto', 'Total Claim Amount'], dtype='object')

Unique Values for Categorical Columns:

Column 'Customer':
['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]

Column 'ST':
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Column 'GENDER':
[nan 'F' 'M' 'Femal' 'Male' 'female']

Column 'Education':
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Column 'Customer Lifetime Value':
[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

Column 'Number of Open Complaints':
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

Column 'Policy Type':
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Column 'Vehicle Class':
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

Range of Values for Numerical Columns:
Column 'Income' has a range of 0.0 to 99960.0.
Column 'Monthly Premium Auto' has a range of 61.0 to 35354.0.
Column 'Total Claim Amount' has a range of 0.382107 to 2893.239678.

In [136]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. 
#You should also provide your conclusions based on these summary statistics.

print("\n Statistical Summary for Numerical Columns:")
for col in numerical_cols:
    print(f"\nStatistics for '{col}':")
    print(f"Mean: {data[col].mean()}")
    print(f"Median: {data[col].median()}")
    print(f"Mode: {data[col].mode().tolist()}")
    print(f"Standard Deviation: {data[col].std()}")
    print(f"25th Percentile: {data[col].quantile(0.25)}")
    print(f"75th Percentile: {data[col].quantile(0.75)}")

#Income: the median income for this population is 36,234.00 and has a standard deviation of 30,469 meaning that
#each individual is on average 30,469 off from the mean. The mode is 0 which emphasizes the reason why the
#standard deviation is so far off the mean. The mean is 39,295 which is not too far away from the mean;
#therefore the population is fairly even in terms of income and not many outliers.
#75% of this population earns at least 14,072 and on the other hand the 25% earns 65,631

#Monthly Premium Auto: There seems to be several outliers that are pulling the mean away for an average of 193.23
#where the median shows a more accurate view of 83 paid monthly for premium auto. The most common payment is 65.
#75% of this population pays 68 whereas 25% pays higher at 110.

#Total Claim Amount: individuals in this population often claim 321.6 and the median is 354.72. Though on average,
#each individual claims 405 though there must be some outliers that are interfering with this calculation.
#the 75% of this population claims at least 202 whereas the 25% claims at least 533

 Statistical Summary for Numerical Columns:

Statistics for 'Income':
Mean: 39295.70121381886
Median: 36234.0
Mode: [0.0]
Standard Deviation: 30469.42706040185
25th Percentile: 14072.0
75th Percentile: 64631.0

Statistics for 'Monthly Premium Auto':
Mean: 193.234360410831
Median: 83.0
Mode: [65.0]
Standard Deviation: 1601.190368577621
25th Percentile: 68.0
75th Percentile: 109.5

Statistics for 'Total Claim Amount':
Mean: 404.98690940896364
Median: 354.729129
Mode: [321.6]
Standard Deviation: 293.0272599264041
25th Percentile: 202.157702
75th Percentile: 532.8

In [138]:
#Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

data[categorical_cols].describe()
#There is 5 different types of genders, 3 types of vehicles. 
#Most of the individuals have a bachelor's and the predominant state is Oregon
#The most frequent car insured is a Four-Door-Car and the type of policy is Personal Auto.
#Most of the insured individuals are females.

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,RB50392,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [175]:
# Your code here

location_freq = data['ST'].value_counts()
top5_less_common = location_freq.head(5)
top5_less_common_series = pd.Series(top5_less_common)
print(top5_less_common_series)

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [197]:
# Your code here

total = pd.Series(data['Policy Type']).value_counts()
print("\nThe total number of policies sold for each policy:")
print(total)
max_policy = total.idxmax()
max_policy_count = total.max()
print(f"The policy with the highest number of policies sold is {max_policy} with {max_policy_count} policies sold")

The total number of policies sold for each policy:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
The policy with the highest number of policies sold is Personal Auto with 780 policies sold

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here